@model soFine.Models.HairProduct
@{
    ViewBag.Title = "HairProductDetails";
    Layout = "~/Views/User/Layout2.cshtml";
}

<h2>Details</h2>

@using (Html.BeginForm("HairProductDetails", "User", new { id = Model.Id, iduser = ViewBag.UserId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="card mb-3">
            <div class="card-body">
                <h3 class="text-uppercase text-center mb-5">Details about product</h3>
                <div class="col-sm-20">

                    @if (ViewBag.Exists == false)
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-20">
                                <input type="submit" value="Add to routine" style="float: right;" class="btn btn-primary" />
                            </div>
                        </div>

                    }
                    else if (ViewBag.Exists == true)
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-20">
                                <input type="submit" value="Remove from routine" style="float: right;" class="btn btn-primary" />
                            </div>
                        </div>

                    }

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>
                    <dd>
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageData)" alt="Image" class="img-fluid" width="300" height="200">
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HairType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HairType)
                    </dd>
                    @Html.ActionLink("Back", "HairRoutine", new { id = ViewBag.UserId })
                </div>
            </div>
        </div>
    </div>
}
